DATABASE_URL=url
DB_HOST=db_host_name
DB_PORT=15085
DB_USER=user_admin
DB_PASSWORD=db_password
DB_NAME=db_name
# Server
PORT=8080
NODE_ENV=development

# JWT
JWT_SECRET=any_string
JWT_EXPIRES_IN="15m"
REFRESH_TOKEN_EXPIRES_IN="7d"

# CORS — the URL of the frontend app
CORS_ORIGIN="https://task-rival-fe.vercel.app"

# Cloudinary 
CLOUDINARY_CLOUD_NAME="your"
CLOUDINARY_API_KEY="your_key"
CLOUDINARY_API_SECRET="your_secret"
CLOUDINARY_FOLDER="folder_name"

# Attachment limits
MAX_ATTACHMENT_SIZE_BYTES=10485760
MAX_ATTACHMENTS_PER_TASK=10
MAX_ATTACHMENTS_PER_UPLOAD=5
